body{
    background-color: #b5d0d4;
}

#form3{
    position: relative;
    left: 5%;
        border-radius: 50px;
    background: #c4dfe2;
    box-shadow:  20px 20px 60px #287a85,
             -20px -20px 60px #408d97;
    margin-top:2vh;
    padding: 4vw;
    font-size: 2em;
    padding-top: 1.3em;
}

.component3{
    top: 40%;
    align-items: center;
    position: absolute;
    display: inline;
    margin: auto;
    transform: translate(-60%, -41%);
    top: 50%;
    left: 84%;
    width: max-content;
    
}
